@model KatalogProizvoda.Models.ITProizvod
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>
<ul>
    <li>Kamera: @Model.Kamera</li>
    <li>Laptop: @Model.Laptop</li>
    <li>Miš: @Model.Miš</li>
    <li>PC: @Model.PC</li>
    <li>Slušalice: @Model.Slušalice</li>
    <li>Tipkovnica: @Model.Tipkovnica</li>
    <li>Zvučnik: @Model.Zvučnik</li>
</ul>
